/* SticcOS.css adapted from default TSOS.css */

body {
  background-color: skyblue !important;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: lavender;
  border: 2px solid navy;
  cursor: default;
  flex-basis: 100%;
}

#hostStatus {
  background-color: lavender;
  color: black;
  cursor: default;
  margin: 4px 4px 0 4px;
  width: 500px;
  height: 25px;
  float: left;
  border-top: 2px solid navy;
  border-right: 2px solid navy;
  border-left: 2px solid navy;
  flex-basis: 100%;
}

#cpuInfoDiv,
#processInfoDiv,
#memoryInfoDiv,
  {
  flex-basis: 100%;
}

#hostStatusDiv {
  float: left;
  width: 512px;
  margin-right: 20px;
}

.normal_button {
  width: 100px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  /* float: left; */
}

.form-control {
  font-size: 12px !important;
}

tr, th, td {
  font-size: 12px;
}

#memoryInfoTable {
  font-size: 10px !important;
}

#memoryInfoDiv {
  height: 200px;
  overflow: scroll;
}

#cpuInfoDiv, #processInfoDiv {
  flex-basis:  60%;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}